.container{
    color: rgb(221, 204, 179);
    background-color: rgb(27, 39, 44);
    padding-top: 3vh;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .content{
    flex: 1;
  }