.navbar{
    width: 100%;
    height: 100px;
}

.nav{
    background-color: rgb(24, 28, 29);
    font-size: 1.2rem;
    flex-flow: row;
    padding-left: 1ex;
    font-family: 'Quicksand', sans-serif;
}

.container {
    font-size: 1.5rem;
    flex-flow: row;
    padding-left: 1ex;
}

.option{
    text-align: right;
    border-right: 5px;
}